@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/*Solution*/

.footer {
  background-color: #eeeeee;
  display: flex;
  padding: 5px;
}

.header {
  display: flex;
  padding: 5px;
}

.right-links {
  margin-left: auto;
}

.left-links,.right-links {
  display: flex;
  list-style: none;
  gap: 10px;
  font-size: small;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: grey;
}

ul {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  margin-top: 20px;
}